
@font-face {
  font-family: 'Druk Wide Bold Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Druk Wide Bold Bold'), url('./fonts/DrukWideBold.woff') format('woff');
  }

*{
  margin: 3px;
  font-family: 'akzidenz-grotesk',sans-serif;
  box-sizing: border-box;
}

li{
  padding: 0;
}

.projects{
  transform-style: preserve-3d;
}

.projectsLi{
  transform-style: preserve-3d;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  width: 1338px;
  height: fit-content;
  font-size: 0;
}

.stage{
  perspective: 650vw;
}

.stageContainer {
  position: relative;
  width: 100%;
  transform: translateZ(0);
  transform-style: preserve-3d;
}

.projects {
  position: relative;
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
  width: 95%;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
  font-size: 0;
}

.projectContainer {
  /* transform: perspective(447px) translateZ(0) rotateY(-15deg) rotate3d(0, 0, 8, -1deg); */
  /* transform: rotate3d(0, 1, 0, -45deg) perspective(447px) translateZ(0) scale(1); */
  /* transform: perspective(-100px) rotateY(-45deg) translateZ(0) scale(1); */
  /* transform: rotate3d(0, 1, 0, -45deg) translateZ(0) scale(1); */

  /* transform: rotate3d(0, 1, 0, -45deg) translateZ(0) scale(1); */
  transform: rotate3d(0, 1, 0, -45deg) translateZ(0) scale(0.7);
  transform-origin: right center;
  transform-style: preserve-3d;
  will-change: transform;
  width: 1024px !important;
  line-height: 142px;
  height: 100%;
  transition: transform 4.5s cubic-bezier(.075,.82,.165,1);
  width: 100%;
  padding: 0px;
  margin-top: -40px;
  margin-bottom: -10px;
}

/* .projectContainer:hover {
  transform: perspective(670px) rotateY(-15deg) rotate3d(0, 0, 8, -1deg);
  transform-origin: right center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: .012em;
  transition-duration: 1s;
} */

.projectsLi:hover > .projectContainer{
  transform: rotate3d(0, 1, 0, -35deg) translateZ(0) scale(0.8);
  -webkit-text-stroke-width: .012em;
  -webkit-text-stroke-color: red;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.projectContainer a {
  /* transform: perspective(447px) translateZ(0) rotateY(-15deg) rotate3d(0, 0, 8, -1deg); */
  font-size: 185px;
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke-width: .02em;
  text-decoration: none;  
  color: black;
  transition: color 0.3s ease;
  text-align: right;
  font-family: Druk Wide Bold Bold;
  transform: preserve-3d;
}